<div class="cv-page">
    <div class="cv-content">
        <h2>Studium & Fortbildung</h2>
        <table>
            <tr>
                <td>04/2020 - Dato</td>
                <td>Fortbildung zum Frontend Engineer</td>
                <td>Developer-Akademie</td>
                <td></td>
            </tr>
            <tr>
                <td>10/2016 - 12/2019</td>
                <td>Studium der Political and Social Sciences (M.A.) </td>
                <td>Julius-Maximilians-Universität Würzburg</td>
                <td>Abschluss: Master of Arts (1,9)</td>
            </tr>
            <tr>
                <td>10/2014 - 04/2017 </td>
                <td>Studium der Rechtswissenschaften</td>
                <td>Julius-Maximilians-Universität Würzburg</td>
                <td>Abschluss der Zwischenprüfung</td>
            </tr>
            <tr>
                <td>10/2011 - 7/2015 </td>
                <td>Studium der Political and Social Studies (B.A.)</td>
                <td>Julius-Maximilians-Universität Würzburg</td>
                <td>Abschluss: Bachelor of Arts (2,5)</td>
            </tr>
            <tr>
                <td>09/2005 - 06/2011 </td>
                <td>Schulzeit</td>
                <td>Internat Stiftung Landschulheim am Solling</td>
                <td>Abschluss: Abitur (2,5)</td>
            </tr>
        </table>
        <h2>Praktika</h2>
        <table>
            <tr>
                <td>08/2017 - 10/2017 </td>
                <td>Studentisches Praktikum </td>
                <td>FDP-Fraktion Bremen</td>
            </tr>
            <tr>
                <td>08/2014 - 10/2014 </td>
                <td>Studentisches Praktikum</td>
                <td>Stiftung für Arbeit und Umwelt der IG BCE </td>
            </tr>
            <tr>
                <td>07/2009 - 08/2009 </td>
                <td>Schülerpraktikum</td>
                <td>Solvay Pharmaceuticals GmbH </td>
            </tr>
            </table>
    </div>
   

</div>