.cv-page {
    height: 100%;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
}

.cv-content {
    display: flex;
    flex-direction: column;
    h2 {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    table {
        width: 100%;
    }
}

@media (max-width:1000px) {
    .cv-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-top: 40px;
        h2 {
            margin-bottom: 16px;
            margin-top: 16px;
        }
        table {
            width: 100%;
        }
    }
    
}
@media (max-width: 600px) {
    .cv-content {
        display: flex;
        flex-direction: column;
        font-size: 8px;
        margin-top: 54px;
        h2 {
            margin-bottom: 16px;
            margin-top: 16px;
        }
        table {
            width: 100%;
        }
    }
    
}

@media (max-width: 400px) {
    .cv-content {
        display: flex;
        flex-direction: column;
        font-size: 6px;
        margin-top: 64px;
        h2 {
            margin-bottom: 16px;
            margin-top: 16px;
        }
        table {
            width: 100%;
        }
    }
    
}