<footer [class.fixed]="imprintMode">
    <div class="link-container">
        <div [class.d-none]="dataProtectionMode">
            <a routerLink="/data-protection">Data Protection</a>
        </div>
        <div [class.d-none]="imprintMode">
            <a routerLink="/imprint">Imprint</a>
        </div>

    </div>
    <div class="socialMedia-container">
        <a href="https://www.xing.com/profile/David_Kuester8/cv">
            <img src="assets/img/xing.png"> </a>
        <a href="https://www.linkedin.com/in/davidalankuester/">
            <img src="assets/img/linkedIn.png"></a>
    </div>
</footer>