<div class="img-slideshow-container" id="slideshow">
    <img *ngIf="showImage" class="img-slideshow" src="assets/img/{{ images[currentImage] }}">
</div>
<div class="img-slideshow-container slideshow-overlay">
    <p *ngIf="showImage" class="fade-in">
        {{headLines[currentImage]}}
    </p>
</div>

<div class="life-container" id="life">
    <div>
        <img src="assets/img/BFK_SW.jpg">
    </div>
    <div>
        <h1>Kurzer Lebenslauf</h1>
        <p>Am 27.02.1991 wurde ich in Hannover als dritter Sohn einer us-amerikanischen Medizinerin und eines deutschen
            Rechtsanwalts und Notars geboren.
            Ich wuchs bilingual auf und absolvierte 2011 mein Abitur auf dem Internat Stiftung Landschulheim am Solling.
            Daraufhin studierte ich bis Ende 2019 Politikwissenschaften, Soziologie und Jura an der JMU.
            Seit April 2020 lerne ich das Programmieren mit JavaScript und Angular.
        </p>
    </div>


</div>

<div class="square-field-container" id="square">

    <div class="squarefield-overlay"></div>
    <div class="upper-squarefield">
        <h2>Du willst mehr über mich wissen?</h2>
    </div>
    <div class="lower-squarefield">
        <div class="square-1">
            <div class="square-1-overlay">
                <p>curriculum vitae</p>
            </div>
        </div>
        <div class="square-2">
            <div class="square-2-overlay">
                <p>Github</p>
            </div>
        </div>
        <div class="square-3">
            <div class="square-3-overlay">
                <p>Wissenschaft</p>
            </div>
        </div>

    </div>
    <div class="underfield"></div>

</div>