<div class="img-slideshow-container">
    <img *ngIf="showImage" class="img-slideshow" src="assets/img/{{ images[currentImage] }}">
</div>
<div class="img-slideshow-container slideshow-overlay">
    <p *ngIf="showImage" class="fade-in">
        {{headLines[currentImage]}}
    </p>
</div>

<div class="life-container">
<h1>Hier kommt noch Leben rein</h1>

</div>

<div class="square-field-container">

    <div class="squarefield-overlay"></div>
    <div class="upper-squarefield">
        <h2>Du willst mehr über mich wissen?</h2>
    </div>
    <div class="mid-squarefield">

        <div class="square-1">
            <div class="square-1-overlay">
                <p>Mein Leben</p>
            </div>
        </div>

        <div class="square-2">
            <div class="square-2-overlay">
                <p>Github</p>
            </div>
        </div>
        <div class="square-3">
            <div class="square-3-overlay">
                <p>Wissenschaft</p>
            </div>
        </div>
    </div>
    <div class="lower-squarefield">
        <div class="square-4">
            <div class="square-4-overlay">
                <p>Politik</p>
            </div>
        </div>
        <div class="square-5">
            <div class="square-5-overlay">
                <p>Corps</p>
            </div>
        </div>
        <div class="square-6">
            <div class="square-6-overlay">
                <p>curriculum vitae</p>
            </div>
        </div>
    </div>
    <div class="underfield"></div>

</div>