<div class="img-slideshow-container" id="slideshow">
    <img *ngIf="showImage" class="img-slideshow" src="assets/img/{{ images[currentImage] }}">
</div>
<div class="img-slideshow-container slideshow-overlay">
    <p *ngIf="showImage" class="fade-in">
        {{headLines[currentImage]}}
    </p>
</div>

<div class="life-container">
    <a class="anchor" id="life"></a>
    <span>Von 1991 bis heute</span>
    <h2>Ein kurzer Lebenseinblick</h2>
    <div class="life-overallcontent-div">
        <div class="life-img-text-div">
            <img src="assets/img/hannover.jpg">
            <div>
                <h3>Früheres</h3>
                <p>
                    Am 27.02.1991 wurde ich in Hannover als dritter Sohn einer us-amerikanischen Medizinerin und eines
                    deutschen Rechtsanwalts und Notars geboren. Ich wuchs bilingual auf und absolvierte 2011 mein
                    Abitur auf dem Internat Stiftung Landschulheim am Solling.
                </p>
            </div>
        </div>
        <div class="life-img-text-div responsive-study-div">
            <div>
                <h3>Studium & Praktika</h3>
                <p>
                    Im Anschluss daran studierte ich bis Ende 2019 in Würzburg Politikwissenschaften, Soziologie und
                    Jura an der JMU. Seit 2014 bin ich Mitglied der Freien Demokratischen Partei (FDP). Im Verlauf
                    meines Studiums
                    absolvierte ich Praktika in der Stiftung für Arbeit und Umwelt der IG BCE und der FDP-Fraktion in
                    der Bremischen Bürgerschaft.
                </p>
            </div>
            <img src="assets/img/marienberg.jpg">
        </div>
        <div class="life-img-text-div">
            <img src="assets/img/berlin.jpg">
            <div>
                <h3>Fortbildung & Berlin</h3>
                <p>
                    Seit 2020 lerne ich in Berlin im Zuge meiner Fortbildung bei der Developer-Akademie das
                    Programmieren mit JavaScript und Angular. In meiner Freizeit engagiere ich mich politisch (Junge
                    Liberale & FDP), lerne Selbstverteidigung
                    (Wing Tsun) und koche gerne.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="square-field-container">
    <a class="anchor" id="square"></a>

    <div class="squarefield-overlay"></div>
    <div class="upper-squarefield">
        <h2>Du willst mehr über mich wissen?</h2>
    </div>
    <div class="lower-squarefield">
        <div class="square square-1">
            <a href="/cv">
                <div class="square-overlay">
                    <p>curriculum vitae</p>
                </div>
            </a>
        </div>
        <div class="square square-2">
            <a href="https://github.com/DavidAlanKuester" target="_blank">
                <div class="square-overlay">
                    <p>Github</p>
                </div>
            </a>
        </div>
        <div class="square square-3">
            <a href="/political-science">
                <div class="square-overlay">
                    <p>Wissenschaft</p>
                </div>
            </a>
        </div>
    </div>
    <div class="underfield"></div>
</div>

<app-portfolio></app-portfolio>