.ps-page {
    height: 100%;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
}

.ps-content {
    display: flex;
    flex-direction: column;
    h2 {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    table {
        width: 100%;
    }

    p {
        margin-top: 32px;
        font-size: 24px;
    }
}

@media (max-width: 1000px) {
    .ps-content {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        h2 {
            margin-bottom: 16px;
            margin-top: 16px;
        }
        table {
            width: 100%;
            font-size: 12px;
        }
    
        p {
            margin-top: 32px;
            font-size: 24px;
        }
    }
}
@media (max-width: 600px) {
    .ps-content {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        h2 {
            margin-bottom: 16px;
            margin-top: 16px;
            font-size: 20px;
        }
        table {
            width: 100%;
            font-size: 8px;
        }
    
        p {
            margin-top: 32px;
            font-size: 20px;
        }
    }
}

@media (max-width: 600px) {
    .ps-content {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        h2 {
            margin-bottom: 16px;
            margin-top: 16px;
            font-size: 20px;
        }
        table {
            width: 100%;
            font-size: 8px;
        }
    
        p {
            margin-top: 32px;
            font-size: 20px;
        }
    }
}