<div class="ps-page">
    <div class="ps-content">
        <h2>Ausgewählte wissenschaftliche Arbeiten</h2>
        <table>
            <tr>
                <td>Master-Thesis</td>
                <td>Sind humanitäre Interventionen legitim? Rechtliche und politische Perspektiven</td>
                <td>2019</td>
            </tr>
            <tr>
                <td>Forschungsprojekt</td>
                <td>Populismus als Ideologie -
                    Eine Inhaltsanalyse von Texten einschlägiger Bewegungen anhand von Kernkonzepten</td>
                <td>2018</td>
            </tr>
            <tr>
                <td>Hausarbeit</td>
                <td>Grenzen und Grenzfälle in Luhmanns Weltgesellschaft</td>
                <td>2018</td>
            </tr>
            <tr>
                <td>Hausarbeit</td>
                <td>Die Ansichten von Hegel und Marx zur Kolonisation und ihr Vergleich</td>
                <td>2017</td>
            </tr>
            <tr>
                <td>Bachelor-Thesis</td>
                <td>Die Stabilität und Instabilität mikrosozialer Phänomene der Macht</td>
                <td>2014</td>
            </tr>
            </table>

            <p>Herausgabe nur auf schriftliche Anfrage!</p>
    </div>
   

</div>
