<div class="portfolio">
    <h2>Mein Software Portfolio</h2>
<img src="/assets/img/laptop.jpg" class="portfolio-bg">
    <div class="portfolio-row">
        <div class="portfolio-element" (click)="open('join')">
            <img src="./assets/img/portfolio1.PNG">
           <span>Join</span>

            <div class="portfolio-explaination">
                <div>
                    <h3>Join</h3>
                    Kollaboratives Task-Management Tool nach dem Eisenhower Prinzip. 
                </div>
                <div>
                    > HTML, CSS, VanillaJS, Firebase
                </div>

            </div>
        </div>
        <div class="portfolio-element" (click)="open('spaceconflict')">
            <img src="./assets/img/portfolio2.PNG">
            <span>Space conflict</span>

            <div class="portfolio-explaination">
                <div>
                    <h3>Space Conflict</h3>
                    Ein kleines Weltraum-Spiel in Anlehnung an mein Lieblingsspiel aus meiner Kindheit. 
                </div>
                <div>
                    > VanillaJS, Canvas
                </div>

            </div>
        </div>
        <div class="portfolio-element">
            <img src="./assets/img/portfolio3.PNG">
            <span>Diese Seite</span>

            <div class="portfolio-explaination">
                <div>
                    <h3>David Alan Küster</h3>
                    Meine Online-Präsens
                </div>
                <div>
                    > Angular 2+, SCSS
                </div>

            </div>
        </div>
    </div>
</div>
