<div class="portfolio">
    <h2>Mein Software Portfolio</h2>
    <img src="/assets/img/laptop.jpg" class="portfolio-bg">
    <div class="portfolio-row">

        <a class="white-text" href="https://david-kuester.de/join/index.html" target="_blank">
            <div class="portfolio-element">
                <img src="./assets/img/portfolio1.PNG">
                <span>Join</span>

                <div class="portfolio-explaination">
                    <div>
                        <h3>Join</h3>
                        Kollaboratives Task-Management-Tool nach dem Eisenhower-Prinzip.
                    </div>
                    <div>
                        > HTML, CSS, VanillaJS, Firebase
                    </div>

                </div>
            </div>
        </a>

        <a class="white-text" href="https://david-kuester.de/spaceconflict/start.html" target="_blank">
            <div class="portfolio-element">
                <img src="./assets/img/portfolio2.PNG">
                <span>Space Conflict</span>

                <div class="portfolio-explaination">
                    <div>
                        <h3>Space Conflict</h3>
                        Ein kleines Weltraum-Spiel in Anlehnung an mein Lieblingsspiel aus meiner Kindheit.
                    </div>
                    <div>
                        > VanillaJS, Canvas
                    </div>

                </div>
            </div>
        </a>
        <div class="portfolio-element">
            <img src="./assets/img/portfolio3.PNG">
            <span>Diese Seite</span>

            <div class="portfolio-explaination">
                <div>
                    <h3>David Alan Küster</h3>
                    Meine Online-Präsens
                </div>
                <div>
                    > Angular 2+, SCSS
                </div>

            </div>
        </div>
    </div>
</div>